
<h1 class="center">Sobre Nós</h1>

<div class="container">
    
    <p class="p1">Contribuir para a saúde financeira
        das comunidades, com o intuito
        de auxiliar os brasileiros MEI inadimplentes,
        através de redes locais para obtenção
        de crédito, auxilio e apoio para dar continuidade ao
        seu pequeno negócio.
    </p>
</div>

<div>

    //imagem para lado esquerdo//
    <img src="https://i.imgur.com/vpAUg5z.jpg" alt="Logo">
</div>


<p class="p1">Benefícios Sociais:

    Educação financeira.

    Fortalecimento de economia local.

    Melhoria na qualidade de vida da comunidade.

    Fortalecimento de vínculos comunitários.

</p>

*imagem para direita*
<img src="https://i.imgur.com/Wh45EPg.jpg" alt="">

<h2>Desenvolvedores</h2>


<img src="" alt="Geandro">
<img src="" alt="Michelle">